body {
    background: #d2d2c1 url('/img/fundo.png');
    font: 16px Arial, Helvetica, sans-serif;
    width: 1280px;
}

#img-top{
    width: 1300px;
    height: 500px;
    margin-left: 18em;    
}

#principal {
    width: 1280px;    
}

#menu {
    background: #c5c5b2;    
    padding: 18px;
    width: 1265px;
    margin-left: 18em;
}

#conteudo {
    background: #e8e8d9;
    padding: 10px;
    width: 1280px;
    margin-left: 18em;
}

a {
    color: #4b566a;
    text-decoration: none;
    font-weight: bold;    
    padding: 5px;
}

a:hover {
    color: rgb(179, 156, 100);
}

.centralizar {
    text-align: center;
    width: 1280px;
    margin-left: 19em;
}

.img-campanha {
    border: 10px solid #c3c3ae;
}

#contato {
    padding: 1em;
}

h1 {
    color: #828271;
    font-size: 1.2em;
}